---
import Card from "@/components/Main/Recents/Card.astro";
import SectionLayout from "@/layouts/componentLayouts/SectionLayout.astro";

const posts = await Astro.glob<Frontmatter>("@/content/notes/*.md");

const lastFourPosts = posts
  .sort((a, b) => b.frontmatter.date - a.frontmatter.date)
  .slice(0, 4);
---

<SectionLayout>
  <div
    class="grid grid-cols-[min-content_auto] md:grid-cols-2 gap-4 md:gap-0 p-4 h-fit md:h-full w-full my-10"
  >
    <div class="relative h-full">
      <h2 class="text-6xl md:text-7xl sticky top-10 rotateText wk-h3">
        RECIENTES
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        lastFourPosts.map((recentPost) => (
          <Card post={recentPost.frontmatter} />
        ))
      }
    </div>
  </div>
</SectionLayout>
