---
import { FaGithub } from "react-icons/fa";
---

<footer
  class="w-full flex justify-between items-center border-t-accent-foreground/50 border-t md:py-4 py-2 px-4"
>
  <a
    href="https://lugo-tomas-portfolio.vercel.app/"
    class="cursor-none"
    data-interactive
  >
    <small class="md:text-xs text-[.5em]">Tomás Lugo - 2024</small>
  </a>
  <a
    href="https://github.com/MrSzasz/frontend_dev-roadmap"
    title="Source code"
    target="_blank"
    rel="noreferrer"
    class="cursor-none"
    data-interactive
  >
    <FaGithub className="text-xl md:text-3xl" />
  </a>
</footer>
