---
interface Props {
  headingsFromPost: { text: string; slug: string; depth: number }[];
}

const { headingsFromPost } = Astro.props;
---

<ul class="border border-accent-foreground p-4 w-fit">
  {
    headingsFromPost.map((headingContent) => (
      <li
        class="p-1 text-sm hover:bg-secondary transition-colors flex"
        data-interactive
      >
        <a
          href={`#${headingContent.slug}`}
          class:list={[
            headingContent.depth > 2 ? "pl-4" : "pl-0",
            "cursor-none h-full w-full",
          ]}
        >
          - {headingContent.text}
        </a>
      </li>
    ))
  }
</ul>
