---
import NoteContentList from "@/components/Notes/NoteContentList.astro";
---

<section
  class="h-fit md:min-h-[50vh] md:h-fit grid place-items-center text-white md:px-[10%] relative"
>
  <div class="text-center flex flex-col justify-center items-center h-fit">
    <h1 class="max-w-[75%] text-4xl">Note title</h1>
    <h2 class="w-1/2">
      Note subtitle or description, it may be long so this is a test for a long
      ass text here, like a description or something, it may be long so this is
      a test for a long ass text here :D
    </h2>
  </div>
  <NoteContentList />
</section>
